.container {
    margin: auto;
    max-width: 500px;
    font-family: "Poppins", sans-serif;
    margin: auto;
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
    font-family: "Poppins", sans-serif;
  }
  .nav-link-text {
    color: #154495;
    font-family: "Poppins", sans-serif;
    
  }

  .site-title {
    font-size: 3rem;
    color: #CD4A00;
    font-weight: 700;
    margin: 3rem 0;
    font-family: "Eczar", serif;
    text-align: center;

  }