.container {
    margin: auto;
    max-width: auto;
 
  }
  
  .heading {
    font-family: "Eczar",serif;
    font-weight: 550;
    text-align: right;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  .nav-link-item {
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .nav-link-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    
  }

  .site-title {
    font-size: 1.25rem;
    color: #F2EFE8;
    font-weight: 500;
    font-family: "Eczar", serif;
    text-align: center;
    padding-left: 15px;

  }

  .static-image {
    position: absolute
}

  .sub-header {
  font-size: .65rem;
  color: #F2EFE8;
  font-weight: 1;
  padding-bottom: 60px;
  padding-left: 15px;
  font-family: "Eczar", serif;
  text-align: center;
}