.container {
    margin: auto;
    max-width: auto;
 
  }
  
  .heading {
    font-family: "Eczar",serif;
    font-weight: 550;
    text-align: right;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  .nav-link-item {
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .nav-link-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    display:block;
    align-items: center;

    
  }

  .site-title {
    font-size: 1.25rem;
    color: #F2EFE8;
    font-weight: 550;
    font-family: "Eczar", serif;
    fill: #F2EFE8;
    display:flex;
    text-decoration: none;
    padding: 0 2rem;
    margin-top: 1rem;
    height:30%;
    cursor: pointer;
    bottom:0;
    align-items:center;
    
  }

  .static-image {
    position: absolute,
    
}

.sub-header {
  font-size: .7rem;
  color: #F2EFE8;
  padding-top: -60px;
  font-family: "Caudex", serif;
  fill: #F2EFE8;
  align-items: bottom;
  text-decoration: none;
  padding: 0 1.5rem;
  cursor: pointer;
  font-weight: lighter;
  letter-spacing: 0.10em;
}